/* 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
  background: #cac3c3 !important;
  overflow: hidden;
}
.bg-red{
  background-color: #f7656a;
  color: #fff ;
}
.scroll{
  height: 100%;
  outline: none;
  overflow: auto;
}
.curser{
  cursor: pointer;
}
.active{
  color: yellow !important ;
} */
